html, body {
	height: 100%;
}

body, input, button, select, textarea {
	font-family: 'proxima-nova-n4', 'proxima-nova', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 700;	
}
body{
	color:#fff;
	background: url('../images/building-bg.jpg') center no-repeat;	
	background-size: cover;
	font-size: 14px;
}
body.nobg {
	background: none;
	background-color: #e1e1e1;
}
.container {

}	
.upper {
	text-transform: uppercase!important;
}
a{
	color:#00cbbf;
}

a:hover, a:focus{
	outline:none;
	text-decoration: underline;
	color: #00cbbf;
}

h1{
	font-size:60px;
	margin-top:50px;
	font-weight:200;
	line-height:70px;
	color:#f26522;
}

h2{
	text-transform:uppercase;
	color: #00cbbf;
	font-size: 30px;
	font-weight: 400;
}

.span3 h2 {
	color: #b6b6b6;
}

.btn{
	border-radius:0;
	font-weight:bold;
	background-image:none;
	background-color:#00cbbf;
	box-shadow: none;
	border: 0px none;
	text-shadow: none;
	font-size: 14px;
}
form h1 {
	font-size: 25px;
	color: #fff;
	line-height: normal;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 0 10px 0;
}
form h1 span {
	color: #002446;
	font-size: 20px;
	font-weight: 600;
	display: block;
	margin: 0px;
}
nav{
	background-color: #fff;
	padding: 15px 0;
	width:100%;
	margin-bottom: 30px;
	height:50px;
}
nav img {
	float: left;
}
nav h1 {
	font-size: 15px;
	color: #999;
	margin: 0px;
	font-weight: 400;
	float: left;
	text-transform: uppercase;
	line-height: normal;
	margin: 10px 0 0 20px;
}
nav h1 span {
	color: #002446;
	font-size: 17px;
}
nav ul {
	text-align: right;
	margin-top: 20px;
}
nav ul li {	
	display: inline-block;
	zoom: 1; *display: inline;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	margin-left: 30px;
}
nav ul li a {
	color: #002446;
}
nav ul li a:hover {
	text-decoration: none;
}

.hlogo {
	margin-top: 40px;
}

.container {
	position:relative;	
}


.btnD {
	width: 100%;
	display: block;
	padding: 7px 0;
	background-color: #002446;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin-top: 20px;
	transition: all 0.4s ease;
}
.btnD:hover {
	background-color: #00172c;
	color: #fff;
	border-color: transparent;
	text-decoration: none;
}
form input[type=text], form input[type=password],
.btn, .requestpw, h2 {
	letter-spacing: 0.5px;	
}



.login {
	width: 320px;
	margin-left: 50px;
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -220px;
}

form {
	margin-top: 20px;
}
form input[type=text], 
form input[type=password] {
	border: 1px solid #e7e7e9;
	border-width: 1px 0 0 1px;
	background-color: #f7f7f7;
	box-shadow: none;
	border-radius: 0px;
	width: 290px;
	padding: 7px 15px;
	font-weight: 600;
	margin-bottom: 13px;
}


form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bdbec1;
}
form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bdbec1;
}
form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bdbec1;
}
form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bdbec1;
}

form input[type=submit].btn {
	color: #fff;
	transition: all 0.3s ease;
	padding: 6px 25px;
}
form input[type=submit].btn:hover {
	background-color: #00a097;
	color: #fff;
}
.requestpw {
	display: block;
	background-color: rgba(255,255,255,0.5);
	padding: 6px 15px;
	font-size: 12px;
	transition: all 0.3s ease;
	color: #002446;
}
.requestpw:hover {
	background-color: #fff;
	color: #002446;
	text-decoration: none;
}

.messages {
	text-transform: uppercase;
	border: 1px solid #cd0000;
	padding: 5px 0;
	font-size: 12px;
	margin: 10px 0;
	clear: both;background-color: rgba(255,255,255,0.5);
}

.messages ul {
	padding: 0px;
	margin: 0px;
}
.messages li {
	display: block;
	text-align: center;
	color: #cd0000;
}


.added{

	padding:15px;
	margin:20px 0 0 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	color: #808183;
	list-style:none;
	background-color: #fff;
	color: #c0c0c0;
	font-weight: 400;
	border-color: #e1e1e1;
}



.sidenav {
	padding: 0px;
	margin: 0px;
}

.sidenav li{
	display: block;
	margin-bottom:0;
}

.sidenav li a{
	display: block;
	color: #808183;
	background-color:#f7f7f7;
	text-transform: uppercase;
	font-size: 13px;
	height: 34px;
	border: 1px solid #e7e7e9;
	border-width: 1px 0px 0px 1px;
	line-height: 34px;
	padding: 0px 15px;
	letter-spacing: 0.5px;
}
.sidenav li:hover a {
	background-color: #e7e7e9;
}
.sidenav li.active a {
	background-color:#00cbbf;
	color:#fff;
}



.tab-content{
	margin-top:60px;
	background: #fff;
	padding: 20px;
	min-height:500px;
	color: #999;
	height: 565px;
	font-weight: 400;
}
.tab-content ul {
	list-style: none;
	margin: 0px 0 25px 0;
	padding: 0px;
}
.tab-content li {
	text-transform: uppercase;
	background: url('../images/small-bullet.png') no-repeat;
	background-position: 0px 6px;
	padding-left: 20px;
	margin-bottom: 8px;
	list-style: none;

}
.tab-content h2 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 29px;
	margin-bottom: 20px;
}


x.tab-content h2:after {
	content: "";
	display: table-cell;
	width: 100%;
	background-image: linear-gradient(
		to right,
		transparent 50%,
		#e7e7e9 50%
	);
	background-position: 0px 50%;
	background-size: 1px 2px;
	background-repeat: repeat-x;
	border-left: solid 30px transparent;
}

.tab-content a{
	color:#c0c0c0;
}

.tab-content a:hover{
	color:#00cbbf;
	text-decoration: none;
}

.accordion-heading a.accordion-toggle {
	background: url('../images/bullet.png') no-repeat left 9px;
	padding: 8px 20px;

}


.cols{
	width:300px;
	float:left;
	margin-right:20px;
	display:block;
}


.accordion-group {
	border-width: 0px 0px 1px 0px;
	text-transform: uppercase;
	border-color: #444;
	border-radius: 0px;
	border: 0px none;
}

.tab-content h3 {
	color: #00cbbf;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
}

.accordion-toggle.active {
	color: #00cbbf;
}
.accordion-inner {
	padding: 10px 20px;
}

.nav-tabs.nav-stacked > li > a {
	background-color: #fff;
	color: #c0c0c0;
	font-weight: 600;
	border-color: #e1e1e1;
	font-size: 13px;
	text-transform: uppercase;
}
.nav-tabs.nav-stacked > li:last-child > a {
	border-radius: 0px;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
	background-color: #00cbbf;
	color: #fff;
}
.nav-tabs.nav-stacked > li > a:hover {
	border-color: #e1e1e1;
	background-color: #00cbbf;
	color: #fff;

}
.photos {
	overflow: hidden;
	list-style: none;
}
.photos li img {
	width: auto;
	min-height: 120px;
}
.photos li {
	width: 150px;
	height: 120px;
	float: left;
	margin: 0px 10px 10px 0;
	list-style: none;
	background: none;
	overflow: hidden;
	padding: 0px;
}
.photos li a {
	display: block;	
	overflow: hidden;	
}